{% extends "base.html" %}

{% block container %}
<header>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex odio nobis debitis. Repudiandae sapiente aspernatur, enim nesciunt, nemo dolorum, hic perferendis dolorem iste rerum doloremque velit quo perspiciatis in maxime.</header>
<section>
    <aside>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic mollitia nam molestiae, qui atque explicabo ex ducimus sed ad praesentium aspernatur, cum veniam at amet quis, aut aperiam saepe numquam.
    </aside>
</section>
<footer>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo saepe, eligendi a quam, quasi atque doloribus fugit, quia ab nihil rerum nam eos accusamus? Minus culpa iusto consequuntur eveniet iure?
</footer>
{% endblock container %}
